[alias]
    a = add
    br = branch
    brm = branch -m
    ch = checkout
    chb = checkout -b
    cl = clone
    cam = commit --amend -m
    cm = commit -m
    f = fetch
    gr = grep
    logo = log --oneline
    m = merge
    pl = pull
    ps = push
    st = stash
    stp = stash pop

[grep]
  lineNumber = true

[pull]
	rebase = false