[alias]
    a = add
    br = branch
    brm = branch -m
    ch = checkout
    chb = checkout -b
    cm = commit -m
    f = fetch
    gr = grep
    logo = log --oneline
    m = merge
    p = pull
    st = stash
    stp = stash pop

[grep]
  lineNumber = true

[pull]
	rebase = false